Question 1
Create a Pandas dataframe called \df" containing 4 columns named Id, Continent, Country, Capital and the values

Sort df in descending order with respect to the column "Continent".

In [2]:
import pandas as pd

df=pd.DataFrame({'Id':[1, 2, 3, 4,5], 'Continent': ['Europe', 'Europe', 'Asia', 'North America', 'Europe'], 'Country': ['Italy', 'France', 'China', 'Canada', 'Germnany'], 'Capital':['Rome', 'Paris', 'Beijing', 'Ottawa', 'Berlin']})
df=df.sort_values('Continent')

print(df)

   Id      Continent   Country  Capital
2   3           Asia     China  Beijing
0   1         Europe     Italy     Rome
1   2         Europe    France    Paris
4   5         Europe  Germnany   Berlin
3   4  North America    Canada   Ottawa

Question 2
Consider the dataframe df defined in Question 1. Delete the column with label "Continent" and rename the column "Capital" to "Country Capital"

In [3]:
df.drop('Continent', inplace=True, axis=1)
df.rename(columns={'Capital':'Country Capital'}, inplace=True)
print(df)

   Id   Country Country Capital
2   3     China         Beijing
0   1     Italy            Rome
1   2    France           Paris
4   5  Germnany          Berlin
3   4    Canada          Ottawa

Question 3
Read the CSV file named "foo.csv" in the data folder and assign it to a dataframe called "df2". Compute the average of the values of the column "price" and assign it to a variable called "average price". Next, create a filter to get all rows where the column "price" is less or equal than 5. Call this new dataframe "df price". Print the returned value and dataframe to screen.

In [4]:
df2=pd.read_csv('foo.csv')
average_price=df2['price'].mean()
print(average_price)
df_price=df2[df2['price']<5]
print(df_price)

6.052631578947368
    id firstName     lastName  billingId     product  price       birth  \
6    7      CaRL     Ga%%%uss        323        taco      3  13-07-1970
7    8     David   H$$$ilbert        624    taaaccoo      3  14-07-1950
8    9  Johannes       KEPLER        735        taco      3  22-04-1920
9   10     JaMES  M$$ax%%well        875        taco      3  12-03-1923
12  13    Max!!!    Planck!!!        111  hamburguer      4  04-01-1994
15  16   William   Gilbert###        886        BEER      2  26-03-1958
16  17     Marie        CURIE        912        Rice      1  22-03-2000

   dummyCol
6     gonna
7       let
8       you
9      down
12     run
15   desert
16      you

Question 4
Create a python lambda function called "add ten" that adds 10 to a certain variable "x".
Next apply this function to all the entries of the column "billingId" in the database df2 from the previous question. Assign the new values to a list called "added values". Return the list to screen. Hint:use the pandas command "map" .

In [5]:
add_ten=lambda x: x+10
added_values=df2['billingId'].map(add_ten)
print(added_values)

0      133
1      433
2      561
3      531
4      644
5      682
6      333
7      634
8      745
9      885
10    1002
11     244
12     121
13     563
14     126
15     896
16     922
17     822
18     477
Name: billingId, dtype: int64

Question 5
Split the dataframe df2 from the previous questions into two dataframes with odd rows in one dataframe and even rows
in a different one. Assign the new dataframes to "df2 odd" and "df2 even" and print them to screen.

In [21]:
df2_even=df2.iloc[lambda x: x.index%2==0]
df2_odd=df2.iloc[lambda x:x.index%2!=0]
print(df2_even, df2_odd)

    id             firstName     lastName  billingId     product  price  \
0    1                  Luis  Alvarez$$%!        123        Cake     10
2    3                 NiELS   Böhr//((%%        551       pizza      8
4    5                Albert     Einstein        634       pizza      8
6    7                  CaRL     Ga%%%uss        323        taco      3
8    9              Johannes       KEPLER        735        taco      3
10  11                 Isaac       Newton        992       pasta      9
12  13                Max!!!    Planck!!!        111  hamburguer      4
14  15  (((   Heinrich )))))        Hertz        116       pizza      8
16  17                 Marie        CURIE        912        Rice      1
18  19                 JAMES     Chadwick        467         NaN     10

         birth dummyCol
0   07-07-1980    never
2   09-07-1990     give
4   11-07-1990       up
6   13-07-1970    gonna
8   22-04-1920      you
10  15-02-1999   never
12  04-01-1994     run
14  30-11-1956      and
16  22-03-2000      you
18  03-05-1921        #       id firstName              lastName  billingId   product  price  \
1    2     André                Ampère        423      piza      8
3    4      PAUL                dirac$        521     pizza      8
5    6   Galileo               GALiLEI        672     arepa      5
7    8     David            H$$$ilbert        624  taaaccoo      3
9   10     JaMES           M$$ax%%well        875      taco      3
11  12    Emmy%%              Nöether$        234     pasta      9
13  14      Fred              Hoy&&&le        553    pizzza      8
15  16   William            Gilbert###        886      BEER      2
17  18    Arthur            COM%%%pton        812    110790      5

         birth dummyCol
1   08-07-1950    gonna
3   10-07-1954      you
5   12-08-1930    never
7   14-07-1950      let
9   12-03-1923     down
11  08-12-1993    gonna
13  27-06-1997   around
15  26-03-1958   desert
17  1899/01/01        #