#Question 1
Assign the value of 384 divided by 16.43 to a variable called "result". Then add 17.67 to it.
Make sure that the returned value is a float.

In [1]:
result=384/16.43
result=float(result+17.67)
print(result)

41.041880706025566

#Question 2
Create a list with elements 2, Python, 23.54, 34, and list, and assign it to a variable called
"my list". Next, delete the second last item of my list

In [3]:
my_list=[2, "Python", 23.54, 34, "list"]
del my_list[-2]
print(my_list)

[2, 'Python', 23.54, 'list']

#Question 3
Create a tuple with the values from 2 to 15, and assign it to a variable called "my_tuple".
Then, get the first 5 values and assign it to a variable called "my_sliced_tuple". Finally,
change the value of the second last element of "my_sliced_tuple" to 20.

In [4]:
my_tuple=(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

In [7]:
my_sliced_tuple=list(my_tuple[0:5])
my_sliced_tuple[-2]=20
my_sliced_tuple=tuple(my_sliced_tuple)
print(my_sliced_tuple)

(2, 3, 4, 20, 6)

#Question 4
Define a list called "fruits" with the following elements: apple, peach, cherry, banana, pear,
orange, lemon. Print the elements to screen in your list using a for loop, but exit the loop
before printing the word "pear".

In [16]:
fruits=['apple', 'peach', 'cherry', 'banana', 'pear', 'orange', 'lemon']
for i in fruits:
    if i=='pear':
        break
    print (i)

apple
peach
cherry
banana

#Question 5
Create a dictionary where the keys are the words Colorado, Boston, Edmonton and Minnesota and the values are Avalanche, Bruins, Oilers, Twins and assign it to a variable called "my_dict". Print the type of my dict and the dictionary itself to to screen. Next, change the value of the word Minnesota to Wild.

In [ ]:
my_dict={'Colorado': 'Avalanche', 'Boston': 'Bruins', 'Edmonton': 'Oilers', 'Minnesota': 'Twins'}
print(type(my_dict), my_dict)
my_dict['Wild']=my_dict.pop('Minnesota')
print(my_dict)

#Question 6
Use a while loop to calculate the sum of the integers from 0 to 12 and after completing the loop, else statement executes.

In [ ]:
num=0
sum=0
while num<12:
    num=num+1
    sum=sum+num
else:
    pass
print(sum)

#Question 7
Create a list called "num1" with elements 1,4,6,7 and a second list called "num2" with elements 1,2,5,6. Create a program that prints to screen the sum of two elements of the lists if they are equal or their product if they are not the same. Hint: Use nested for loops.

In [ ]:
num1=[1,4,6,7]
num2=[1,2,5,6]

for i in num1:
  for j in num2:
    if i==j:
      print (i+j)
    else:
      print (i*j)

#Question 8
Create a function called "square odd number" that takes a number and squares it if the number is odd and prints the message "Error, the passed value is not odd". Test your function with the values 11 and 14 by printing the results to screen.

In [ ]:
def square_odd_number(n):
    if n%2==0:
        return 'Error, the passed value is not odd'
    else:
        return n**2
        
print(square_odd_number(11))
print(square_odd_number(14))